* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    overflow: hidden;
background: radial-gradient(
  ellipse at center,
  #fac2c4 10%,   
  #fce5e4f3 65%,    
  #f4e7e3e7 45%, 
  #f2abae 97%    
);

}
.page {
    display: grid;
    grid-template-rows: 16% 65% 16%;
    height: 100vh;
    gap: 12px;
}
.parts {
    display: flex;
    justify-content: center;
    align-items: center;
  }

#topPart {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    justify-content: center;
    align-items: end;
    gap: 10px;
}

#buttomPart {
    display: grid;
    align-items:baseline ;
    justify-content: center;
}
button {
    width: 140px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto; 
    transition:background-color 0.4s ease ;
    transition: color 0.4s ease;
    
}
button {
    background-color: transparent ;
    border: solid snow 1px;
     border-radius: 20px;
     color: rgb(251, 248, 248);
     
}
button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(90, 49, 49);
  }
  .selected {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(90, 49, 49);
  }
